:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #21202e;
    --highlight-med: #403d52;
    --highlight-high: #524f67;
}

.tab-background {
    border-radius: 0 !important;
    background-color: var(--overlay);

    &:is([selected], [multiselected]) {
        background-color: var(--gold) !important;
    }
}

.tab-content {
    color: var(--gold) !important;

    &:is([selected], [multiselected]) {
        color: var(--base) !important;
    }
}

.browser-toolbar {
    background-color: var(--base) !important;
    color: var(--text) !important;
}

.urlbar-background {
    background-color: var(--base);
}

